* {
  box-sizing: border-box;
}
h1 {
  color: pink;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  color: rgb(234, 233, 178);
}
body {
  background-color: rgb(183, 143, 220);
}
header {
  background-color: rgb(231, 82, 82);
}
